@keyframes move {
	0% {
		transform: rotate(2deg);
	}
	25% {
		transform: rotate(-2deg);
	}
	50% {
		transform: rotate(2deg);
	}
	75% {
		transform: rotate(-2deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.container{
    margin: 0 auto;
    box-sizing: border-box;
}
.title{
    font-family: 'Sumana', sans-serif;
    font-size: 36px;
    text-align: center;
    margin: 5px 0;
}

.show-output{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    display: block;
    margin: 15px auto;
    width: 726px;
    height: 210px;
    padding: 8px;
    border: 1px solid rgb(124 124 124);
}

.keyboard{
    box-sizing: border-box;
    margin: 0 auto;
    width: 747px;
    height: 260px;
    background-color: rgb(186 186 190);
    padding: 10px 6px 10px 0;
    border: 2px solid rgb(124 124 124);
    border-radius: 7px;
}

.keyboard__row{
    width: 100%;
    height: 41px;
    margin-bottom: 6px;
    display: flex;
}

.keyboard__key{
    position: relative;
    box-sizing:border-box;
    font-family: 'Sumana', sans-serif;
    font-size: 16px;
    width: 42px;
    height: 42px;
    background-color: rgb(247 246 250);
    margin-left: 6px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(84 84 84);
    line-height: 40px;
    cursor: pointer;
    color: rgb(147 147 150);
    transition: 0.2s;
}

.keyboard__key_activatable::after {
    content: '';
    top: 5px;
    right: 5px;
    position: absolute;
    width: 4px;
    height: 4px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.keyboard__key_active::after {
    background: #ffffff;
}

.keyboard__key:active{
    animation: move 0.2s;
    background-color: #fff;
}

.keyboard__key:hover{
    color: #000;
    transition: 0.2s;
    background-color: #fff;
}

.keyboard__key_dark{
    color: rgb(74, 74, 74);
    background-color: rgb(211 211 211);
}

.Backspase{
    width: 107px;
}

.Capslock{
    width: 107px;
}

.Tab{
    width: 59px;
}

.Enter{
    width: 90px;
}

.Spase{
    width: 350px;
}